
name: Workflow de Integração Contínua

on:
  pull_request:
    branches: ["main"]

jobs:
  testes:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"   # ajuste aqui para a versão desejada

      - run: npm install
      - run: npm run build
      - run: npm test

